.music-cover {
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin: 4px 0;
    border-radius: 10px;
    min-height: 45px;
    min-width: 45px;
}

.music-info {
    margin: 4px 0;
    margin-left: 12px;
    color: $foreground;
}

.music-title {
    font-size: 1.2rem
}

.music-time {
    margin-top: 47px;
    margin-left: 56px;
    border-radius: 3px;
}

.music-time-background {
    border: 3px solid lighten($background, 20%);
}

.music-time-foreground {
    border: 3px solid $color2;
    transition: 1000ms linear;
}
