* {
    all: unset;
}

@import '/home/niek/.cache/wal/colors.scss';
@import 'workspaces/workspaces';
@import 'music/music';
@import 'system/system';

.statusbar {
    background-color: $background;
}

.bar-section {
    margin: 0 96px;
}
