.workspace-button {
    transition: 400ms ease;
}

.workspace-text {
    color: $background;
    font-size: 13px;
    border-radius: 9999px;
    min-width: 23px;
    min-height: 23px;
    margin: 15px 4px;
}


.workspace-text-active {
    font-size: 13px;
    background: $foreground;
    margin: 15px 0;
}

.workspace-text-nonempty {
    background: $color2;
}

.workspace-text-empty {
    background: $color11;
}
