.workspace-button {
    transition: 400ms ease;
    color: $background;
    font-size: 13px;
    border-radius: 9999px;
    min-width: 23px;
    min-height: 23px;
    margin: 15px 4px;
}

.workspace-button-active {
    font-size: 13px;
    background: $foreground;
    margin: 15px 0;
}

.workspace-button-open {
    background: $color2;
}

.workspace-button-closed {
    background: $color11;
}

.workspace-button-focus {
    background: $color2;
    min-width: 9px;
    min-height: 9px;
    margin: 22px 4px;
}

.workspace-button-text {
    background: rgba($foreground, .5);
}